
{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}

	{% include 'base/nav.html' %}
	<main class="h-full ">
		<div class="h-full md:pb-32 border-b p-4 pl-2 pb-10 bg-cover bg-blue-900 rounded-br-lg rounded-bl-lg" style="background-image: url('/static/imgs/cbg2.jpg');"><!-- banner -->
			<div class="h-12">
				<div class="hidden lg:block lg:w-2/5 h-12 p-2 float-left text-white ">
					<span class="font-extrabold text-3xl">ℂ𝔸𝕋𝕋𝔸𝕃𝕀𝕊𝕋.ℂ𝕆𝕄</span>

				</div>
			<div class="text-center">
				<span class="text-white font-extrabold text-4xl"></span>
			</div>
			<div class="hidden lg:block lg:w-3/5 h-16 p-2 pl-6 float-right text-white font-bold bg-black bg-opacity-25 ">
				
				<a href="{% url 'home' %}"><span class="mr-6 text-lg  hover:text-gray-700">Home</span></a>
				<a href="{% url 'about' %}"><span class="mr-6 text-lg  hover:text-gray-700">About Us</span></a>
				<span class="mr-6 text-lg  hover:text-gray-700">FAQ</span>
				<span class="mr-6 text-lg  hover:text-gray-700">Contact Us</span>
				{% if user.is_authenticated %}
					
						<button class=" text-lg border-2 border-blue-800 p-2 font-bold hover:bg-blue-900 text-white bg-blue-800 rounded-lg" onclick="Show();">
							<svg viewBox="0 0 20 20" fill="currentColor" class="user-circle w-8 h-8 text-lg text-white inline-block" ><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
							My Profile
						</button>
						<a href="{% url 'listing:setup' %}"><button class="mr-6 text-lg border-2 border-blue-800 p-2 font-bold hover:bg-white text-gray-700">Become A landlord</button></a>
				
			
				{% else %}
					<a href="{% url 'login' %}"><span class="mr-6 text-lg  hover:text-gray-700">Login</span></a>
					<a href="{% url 'register' %}"><button class="mr-0 text-lg border-2 border-blue-800 p-2 font-bold hover:bg-white text-gray-700">Sign Up</button></a>
					<a href="{% url 'register' %}"><button class="mr-6 text-lg border-2 border-blue-800 p-2 font-bold hover:bg-white text-gray-700">Become A landlord</button></a>
				{% endif %}
				 
			</div>
			</div>
			<div class="mt-28 lg:mt-40 m-2 md:ml-56 md:mr-56  bg-black bg-opacity-50 p-5">
			<span class="text-white font-extrabold text-3xl lg:text-4xl">Welcome , what kind of space do you want ?</span>
			<form action="{% url 'Search' %}" method="POST">{% csrf_token %}
			<div class="mt-4 md:flex w-full">
			
				<select name="type" class="border-none rounded-full lg:rounded-tr-none lg:rounded-br-none border bg-white  mb-4 block md:inline w-full md:w-4/6 pl-6 h-12">
					<optgroup  class="font-bold bg-white" label="Hostels">
						<option value="all"> Select space type </option>
						<option value="1">1 in A room (small)</option>
						<option value="2">2 in A room (small)</option>
						<option value="3">2 in A room (Big)</option>
						<option value="4">More than 1 in a room</option>
					</optgroup>
					<!--optgroup label="Apartments">
						<div >
						<option>1 Bedroom</option>
						<option>2 Bedrooms</option>	
						<option>3 Bedrooms</option>
						<option>1 Bedrooms + kitchen </option>
						<option>2 Bedrooms + kitchen </option>
						<option>3 Bedrooms + kitchen </option>
					</div>
					</optgroup>
					<optgroup label="Guest House">
						
						<option>Standard</option>
						<option>Deluxe</option>	
						<option>Executive</option>
						<option>Premium</option>
						
					</optgroup>
					<optgroup label="Hotels">
						
						<option>1 star</option>
						<option>2 star</option>	
						<option>3 star</option>
						<option>4 star</option>
						<option>5 star </option>
					
					</optgroup-->
				</select>

				<select name="location" class="rounded-full lg:rounded-tl-none lg:rounded-bl-none border h-12 p-2 w-full md:w-3/6 md:ml-0 bg-white" required="true">
					<optgroup>
						<option value="all">All Locations</option>
					{% for area in areas %}
					<option value="{{ area.id }}">{{ area }}</option>
					{% endfor %}
					</optgroup>
				</select>

			</div>
			<div class="items-center self-center lg:w-2/3 mt-6 lg:ml-48">
				<button class="rounded bg-blue-600 p-2 h-10 text-white w-full hover:bg-white hover:text-blue-900 md:w-5/6 font-bold">SEARCH</button>
			</div>
		</form>
		</div>
		</div>
		<section class="md:ml-24 md:mr-24">

		<div class="p-2 ">
			<div class="border-b p-2">
				<span class="text-lg font-extrabold">
					Popular places to stay ..
				</span>
			</div>
			<div class="flex overflow-x-scroll p-2 text-gray-700">
						<a href="" class="p-2"><span class="border rounded-lg p-2 mr-2">All</span></a>
						<span class="border rounded-lg p-2 mr-2">Mansion</span>
						<span class="border rounded-lg p-2 mr-2">Bungalow</span>
						<span class="border rounded-lg p-2 mr-2">Hostel</span>
						<span class="border rounded-lg p-2 mr-2">flat</span>
						<span class="border rounded-lg p-2 mr-2">Estates</span>
						<span class="border rounded-lg p-2 mr-2">Bungalow</span>
						<span class="border rounded-lg p-2 mr-2">Hostel</span>
			</div>

			
			<div class="p-2 content-center grid gap-4  grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-2">
				{% for listing in listings %}
				 <div class="border shadow-xl h-full mb-2 md:mr-2 rounded-lg">
				 	
				 	<div class="h-40 rounded-lg"><!-- card head -->
				 		<a href="{{ listing.get_absolute_url }}">
				 			<div class="flex overflow-x-scroll">
				 			{% thumbnail listing.image "300" as im %}
				 			<img src="{{ im.url }}" class="w-full   h-40 object-cover">
				 			<img src="{{ im.url }}" class="w-full  h-40 object-cover">
				 			<img src="{{ im.url }}" class="w-full h-40 object-cover">
				 			{% endthumbnail %}
				 		</div>
				 		</a>
				 		
				 	</div>
				 	
				 	
				 	<div class="text-sm p-2  bg-white container"><!-- card bottom -->
				 	<div class="w-full block pb-2 mt-2">
				 		<div class="inline-block flex container">
				 			<div class="mb-1 flex w-full">
				 				<span class="font-bold pb-2 w-4/5">
						 			<i class="ion-ios-star text-xl text-blue-600"></i>	
						 			
				 					 {{ listing.total_rating }} ({{listing.review.count}})
				 				</span>
								<span class="block float-right">
										<i class="ion-ios-telephone	 text-blue-600 text-xl"> 32</i> 
							
								</span>
							</div>
						
						</div>
						<div class="h-16">
				 		<a href="{{ listing.get_absolute_url }}"><span class="block font-bold">{{ listing.structure.name }} |{{ listing.name }}</span></a>
				 		<span class="text-sm text-gray-700">{{listing.description|truncatewords:"9" }}</span>
				 		</div>

				 	</div>
				 	<div class="mt-4 bottom-0">		
				 		<span class="font-bold inline-block text-lg">GHC {{ listing.price }}.00 /{{ listing.rate }} </span>
				 		<div class="float-right">
				 		{% if listing.available %}
				 		<span class="rounded-full bg-green-600 p-2 font-bold text-white">Available</span>
				 		{% else %}
				 		<span class="rounded-full bg-gray-600 p-2 font-bold text-white">Occupied</span>
				 		{% endif %}
				 		</div>
				 		<div class="border flex bg-blue-700 rounded-lg mt-2 p-2 text-white">
				 			{% if listing.available %}
				 			<div class="w-1/5">
				 			<svg viewBox="0 0 20 20" fill="currentColor" class="bookmark-alt w-6 h-6 ml-6 mr-6"><path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5zm11 1H6v8l4-2 4 2V6z" clip-rule="evenodd"></path></svg>
				 			</div>
				 			<div class="ml-4">
				 				{% if user.is_authenticated %}<a href="{% url 'services:send_request' user.id listing.id %}"><span class="text-lg font-bold">Contact Owner</span></a>
				 				{% else %}
				 					<span class="text-lg font-bold" onclick="openmodal();">Contact Owner</span>
				 				{% endif %}
				 			</div>
				 			{% else %}
				 			<div onclick="{% if user.is_authenticated %}add();{% else %} view();{% endif %}" class="flex">
				 			<div class="w-1/5 content-center items-center">
				 			<svg viewBox="0 0 20 20" fill="currentColor" class="bell w-6 h-6 inline ml-6 mr-6"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
				 			</div>
				 			<div class="ml-4">
				 				<span id="bell" class="text-lg font-bold">Keep me posted</span>
				 			</div>
				 		</div>
				 			{% endif %}
				 		</div>
				 		<div class="lg:hidden border flex bg-blue-700 rounded-lg mt-2 p-2 text-white">
				 			<div class="w-1/5">
				 				<svg viewBox="0 0 20 20" fill="currentColor" class="share w-6 h-6 ml-6 mr-6 "><path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"></path></svg>
				 			</div>
				 			<div class="ml-4">
				 				<a href="whatsapp://send?text=https://192.168.43.54:8000{{listing.get_absolute_url }}" data-action="share/whatsapp/share"><span class="text-lg font-bold">Share space</span></a>
				 			</div>
				 		</div>
				 	</div>
				 	
				 </div>
				
			</div>
			{% endfor %}
			
			
			
			</div>
			
		</div>

		<section >
			
			<div class="text-center mt-6">
				<span class="text-xl text-gray-800 border-blue-800 border-b-4 p-2">Upcomming Events</span>
			</div>
			<div class="p-4 lg:flex lg:gap-16 lg:p-8 lg:ml-8">
				<div class="border rounded-lg items-center relative bg-cover" style="background-image: url({% static 'imgs/flyer1.jpg' %}); height: 400px; width: 300px;"><!-- card -->
					
					<div class=" absolute h-40 bg-black bg-opacity-75 w-full bottom-0 text-center p-4">
						<span class="text-white font-bold mt-12">Venue : The lords Garden</span><br>
						<span class="text-white font-bold">Rate  : Ghc 10.00</span><br>
						<button class="bg-green-600 text-white p-2 rounded-lg mt-8">Book IT</button>
					</div>
				</div>
				<div class="border rounded-lg items-center relative bg-cover" style="background-image: url({% static 'imgs/flyer1.jpg' %}); height: 400px; width: 300px;"><!-- card -->
					
					<div class=" absolute h-40 bg-black bg-opacity-75 w-full bottom-0 text-center p-4">
						<span class="text-white font-bold mt-12">Venue : The lords Garden</span><br>
						<span class="text-white font-bold">Rate  : Ghc 10.00</span><br>
						<button class="bg-green-600 text-white p-2 rounded-lg mt-8">Book IT</button>
					</div>
				</div>
				<div class="border rounded-lg items-center relative bg-cover" style="background-image: url({% static 'imgs/flyer1.jpg' %}); height: 400px; width: 300px;"><!-- card -->
					
					<div class=" absolute h-40 bg-black bg-opacity-75 w-full bottom-0 text-center p-4">
						<span class="text-white font-bold mt-12">Venue : The lords Garden</span><br>
						<span class="text-white font-bold">Rate  : Ghc 10.00</span><br>
						<button class="bg-green-600 text-white p-2 rounded-lg mt-8">Book IT</button>
					</div>
				</div>
				
			</div>

		</section>
	
		<section class="p-2">
			<div class="border-b p-2">
				<span class="text-lg font-extrabold">Popular Restaurants in HO</span>
			</div>
			<div class="p-2 content-center grid gap-2  grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-2">
				{% for place in places %}
					{% if place.kind == "Restaurant" %}
				 <div class="border h-full ml-2 m-2 rounded ">
				 	
				 	<div class="h-40"><!-- card head -->
				 		<img src="{{place.image.url}}" class="w-full rounded-tl-lg rounded-tr-lg h-40 ">
				 	</div>
				 	<div class="w-48 p-1">
				 		<span class="block font-bold">{{ place.name }} </span>
				 		<span class="text-sx text-gray-600">{{ place.type }}</span>
				 	</div>
				 </div>
				 {% endif %}
				 {% endfor %}
				
			</div>
			<div class="items-center self-center pl-16 pr-16 md:pl-64 md:pr-64 mt-4">
				<button class="rounded bg-blue-600 p-2 h-10 text-white w-full">Load more..</button>
			</div>
		</section>
		
		</section>
	</main>

	{% include 'base/footer.html' %}
	
{% endblock %}