{% extends 'listing/base.html' %}

{% block content %}
<main>
		<div>
			<div class="p-4" > 
				<h2 class="text-2xl font-bold text-gray-800 ">Where's your place located ? </h2>
				<p class="text-lg text-gray-900">Guests will only get your exact address once they've booked a reservation.</p>

				<button class="border-blue-600 border-2 p-3 mt-3 w-full rounded-lg text-blue-900 font-bold">
					<svg class="w-6 h-6 inline-block text-blue-600 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>Use Current Location
				</button>
				<hr>
				<div class="mt-2">
					<label class="block text-xl text-gray-800">Region</label>
					<select class="border rounded-lg p-3 w-full">
						<option>Volta</option>
					</select>
					<label class="block text-xl text-gray-800">Area</label>
					<input class="border rounded-lg p-3 w-full">
						
					
				</div>
			</div>
		</div>
</main>
{% endblock %}